Theory Q&A

1. what are the data structure and why they important ?
---> Data structure is define as the how the data is stored , grouped and managed is called data structure . there are various data structure in python they are list , tuple , set , dictionary. 
these data structure are important because of every data structure has it's own advantage and disadvantage according to the situation we can use it. and these data structure are important to effectively managed and organised data .

2.explain the difference between mutable and immutable data types with example ?
---> the mutable data types is the data types in which we can changed the data from the data structure . the mutable data types are list , set , dictionary .
example  l1=[1,2,3,4]
         l1[0]=100
         print(l1)

  the immutable data types is the data types in which we can't changed the data from data structure . the i mutable data types are string , tuple .
example s="sumedh"
        s[0]="e"
        error are shown 
3. what are the main difference in lists and tuple in python ?
--->the list are mutable data types which means we can edit or modify the data from list and the list are created by [] square brackets.

the tuple are immutable data types which means we can't edit or modify the data from the tuple and the tuple are created by () parentheses.

4. Describe the how dictionaries stored data?
---> the dictionary are mutable . the dictionary are stored a data in key-value manner.the dictionary are created by curly brackets.
example d1={"name":"sumedh","age":12}

5. why might you use set instead of list in python ?
---> if you need a unique items (no duplicates items required) , you need to use the set operation like union, intersection, difference. if you want to stored a data in a unordered manner.

6. what is the string in python and how it is difference from list ?
---> A string is a collection of charactor that stored a data. string is a  immutable data types means we can't changed or modify string. string stored a data only in str means not int,float or other data types. on the other hand list is a data structure which stored a data of different data types (int,float, str, boolen) and list are mutable data types.

7.how do tuple ensure data integrity in python ?
---> the tuple is a immutable data types means once you created a tuple you can't edit or modify the data stored inside a tuple.the data integrity is ensure in tuple beacuse it is immutable .

8. what is the hash table and how it is relate to dictionary in python?
---> the hash table is a data structure which stored a data in key-value.
In the python we use a dict which is the built-in fuction which stored a data in key-value by using the hash table
it is implemented.

9.can list contains different data types in python ?
---> yes , the list can contains a different data types in it. the list contains(int , float, string).

10.explains why string is immutable in python ?
--->  the string in python are immutable because of keep data integrity . in some cases we don't wants to change the data stored in the strig .so the string keeps the data integrity.

11. what is the advantage the dictionary offer over a list for certain tasks?
--->the dictionary offers the data stored in the key-value pair .and the dictionary offers a fast data retrieval.
on the other hand list can't support key-value data . 

12.Describe a scenario where tuple would be preferable over a list?
---> suppose we want to stored a empolyee id data . so our first need is to keep the data integrity . the tuple is immutable data types so no one can edit  or modify the data that are stored in the tuple.

13. How do set handle duplicates value in python ?
---> The set data structure are stored a unique data items. the set are discards the duplicates data items. if you add the data items that are already present in the set then set just igonar the arguments, it not shows the error and not add the same data items again.

14.How does the "IN' keyword work  differently for list and dictionary in python ?
---> For the list 'in' and 'not in" are the membership  operator which is used as a search algorithms.

15. Can you modify the elements of tuple ? explain why or why not?
---> No, you can't modify the element of tuple because of tuple is immutable data types . if you modify the elements of tuple then it shows the error .
if you want to modify the elements of tuple then firstly convert the tuple to the list by using the type casting and then modify the list and then by using of type casting convert the list to tuple and the new tuple is created with the modify elements.

16.What is the nested dictionary and with the example with the use cases?
---> The nested dictionaries is placing dictionary inside another dictionary. the dictionary is used when we want to store a kry-value paires.
example 
d1={"name":{""arun":1211}
     "age":{"younger":20}}
print(d1)

17.Describe the time complexity accessing the elements in a dictionary?
---> the time complexity of retrieving value by it's key name in dictionary. for reterieving data the dictionary use a hash table to find the location in the memoery.

18. In what situations list are preferred over a dictionary?
---> list are preferred when the order od data items are imp and we want to use appeand , pop function frequently.

19. Why are the dictionaries is considered unordered and how it affect the data retrieval?
---> Dictionary are considered as unordered because of on bases of insertion of data don't gaureantee order. because of onordered they affect the data retrieval because of no indexing ,and unordered of data.

20.Explain the difference of list and dictionaries in term of data retrieval ?
---> the difference between the list and the dictionary are list follows  order and dictionaries are unordered therfore in dictionaries there are no indexing and in list there are indexing therfore list data retrieval rate is higher than the dictionary.

In [1]:
#PRACTIONAL QUESTIONS
# 1. write a code create a string with your name and print it ?
name="sumedh"
name

'sumedh'

In [2]:
# 2. write a code to find the length of string "Hello world"
s="Hello world"
print(len(s))

11

In [5]:
# 3. write a code for slicing first 3 charactor from "python programming"
s="python programming"
print(s[0:3])

pyt

In [6]:
# 4. write a code to convert  the string "hello" to uppercase?
s= "hello"
print(s.upper())

HELLO

In [9]:
#5. write a code to replace the word "apple" to "orange" in a string "i like apple"
s="i like apple"
s1=s.replace("apple","orange")
s1

'i like orange'

In [23]:
# 6. write a code to create a list to print a number from 1 to 5 and print it?
l1=list(x for x in range(1,6))
l1

[1, 2, 3, 4, 5]

In [25]:
# 7. write a code to append a number 10 to the list [1,2,3,4]
l1=[1,2,3,4]
l1.append(10)
l1

[1, 2, 3, 4, 10]

In [26]:
# 8.write a code to remove number 3 from list [1,2,3,4,5]
l1=[1,2,3,4,5]
l1.remove(3)
l1

[1, 2, 4, 5]

In [27]:
# 9.write a code to access a second element from a list ["a","b","c","d"]
l1= ["a","b","c","d"]
l1.pop(2)
l1

['a', 'b', 'd']

In [30]:
# 10. write a code to reverse a list [10,20,30,40,50]
l1= [10,20,30,40,50]
print(l1[ : :-1])

[50, 40, 30, 20, 10]

In [31]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1=(100,200,300)
t1

(100, 200, 300)

In [32]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t1= ('red', 'green', 'blue', 'yellow')
print(t1[1])

green

In [35]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t1=(10, 20, 5, 15)
print(min(t1))

5

In [36]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t1= ('dog', 'cat', 'rabbit')
print(t1.index('cat'))

1

In [37]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t1=("apple","kiwi","banana")
print("kiwi" in t1)

True

In [38]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s1={'a', 'b', 'c'}
s1

{'a', 'b', 'c'}

In [39]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1={1, 2, 3, 4, 5}
print(s1.clear())

None

In [45]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s1={1, 2, 3, 4}
s1.remove(4)
s1

{1, 2, 3}

In [46]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1, 2, 3}
s2={3, 4, 5}
print(s1|s2)

{1, 2, 3, 4, 5}

In [47]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={2, 3, 4}
print(s1 & s2)

{2, 3}

In [48]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d1={"name":"sumedh","age":24,"city":"pune"}
d1

{'name': 'sumedh', 'age': 24, 'city': 'pune'}

In [50]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1={'name': 'John', 'age': 25}
d1["country"]="USA"
d1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [51]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d1={'name': 'Alice', 'age': 30}
print(d1["name"])

Alice

In [53]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d1= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d1["age"]
d1

{'name': 'Bob', 'city': 'New York'}

In [54]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d1={'name': 'Alice', 'city': 'Paris'}
print("city" in d1)

True

In [57]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l1=[1,2,3,4]
t1=(1,2,3,4)
d1={'name': 'Alice', 'city': 'Paris'}
print(l1)
print(t1)
d1

[1, 2, 3, 4]
(1, 2, 3, 4)

{'name': 'Alice', 'city': 'Paris'}

In [74]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random

l1=[]
for x in range(5):
    l1.append(random.randint(1, 100))

print(l1)
l1.sort()
print("Sorted list (ascending):", l1)

[52, 66, 41, 67, 27]
Sorted list (ascending): [27, 41, 52, 66, 67]

In [78]:
#28. Write a code to create a list with strings and print the element at the third index.
s="sumedh is best"
l1=list(s)
print(l1[2])

m

In [86]:
# 29. Write a code to combine two dictionaries into one and print the result.
d1={"name":"sumedh","age":24,"city":"pune"}
d2={"height":"145 cm "}
d1.update(d2)
d1

{'name': 'sumedh', 'age': 24, 'city': 'pune', 'height': '145 cm '}

In [88]:
# 30. Write a code to convert a list of strings into a set.
l1=["sumedh","pune","digraskar"]
s1=set(l1)
s1

{'digraskar', 'pune', 'sumedh'}